.manufacture{
    background-color:darkslategray;
    color:black;
    padding: 30px 30px;
    text-align:justify;
    height: 580px;
    position: absolute;
    line-height: 30px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: -10px;
    margin-left: -10px;
    width: 450px;
    position: relative;
    /* opacity: .9; */
}


#floating{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    /* background-color: black; */
    color: black;
    border-radius:5px;
    width: 100%;
    opacity: 0.7;
    
}

p{
    color: solid black ;
    line-height: 35px;
}

p:hover{
    color: white;
    background-color: black;
    padding: 0px 20px;
    border-radius: 5px;
    width: fit-content;
    /* font-weight: bolder; */
    font-family: cursive;
    /* font-size: 20px; */
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    transition: all .5s ease;
}

#backimage{
    position: relative;
    width: 850px;   
    height: 680px;
    margin-left: 480px;
    margin-top: -630px;
    
}

.buttons{
    position:absolute;
    margin-top: -200px;
    margin-left: 550px;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

#progress{
    
    color: crimson;
    background-color: black;
    padding: 5px 10px;
    margin-bottom: 10px;
    line-height: 20px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-left: 330px;
    margin-top: -150px;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing:1px;
}

#completed{
    color: crimson;
    background-color: black;
        padding: 5px 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 330px;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
}
#completed:hover{
    color: black;
    background-color: crimson;
    cursor: pointer;
    transition: all .5s ease;
}

#progress:hover{
    color: black;
    background-color: crimson;
    
    cursor: pointer;
}