<!-- *ngIf="isVisible" -->
<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScyJpn9szcjwGuqZCN6gE-TW10Y1y2Zm8jEA&usqp=CAU" alt=""> -->
<div class="employees" >
    <form action="">
        <h2>Create Account</h2>
        <label id="name" for="">First Name :</label>
        <input type="textarea" name="name" id="name1" >
        <br><br>
        <label id="name" for="">Surname  :</label>
        <input type="textarea" name="name" id="name2" >
        <br><br>
        <label for="">Email Id :</label>
        <input type="email" name="mail" id="email" >
        <br><br>
        <label id="phone" for="">Phone Number : </label>
        <input type="tel" name="phone" id="phone">
        <br><br>
        <label id="gender" for="gender">Gender :</label>
        <input type="radio" name="male" id="male" value="male">
        <label for="gender">Male</label>
        <input type="radio" name="female" id="female" value="female">
        <label for="gender">Female</label>
        <br><br>
        <label for="">Date of Birth : </label>
        <input type="date" name="" id="date">
        <br><br>
        <label for="">Nationality : </label>
        <select name="nationality" id="nationality">
            <option value="">Choose</option>
            <option value="">Australia</option>
            <option value="">USA</option>
            <option value="">India</option>
            <option value="">China</option>
            <option value="">Japan</option>
            <option value="">Russia</option>
        </select><br><br>
        <label for="">Relationship : </label>
        <input type="radio" name="married" id="married">
        <label for="">Married</label>
        <input type="radio" name="unmarried" id="unmarried">
        <label for="">Unmarried</label>
        <br><br>
        <label id="address" for=""> Address 1:</label>
        <input type="textarea" name="" id="address1"  >
        <br><br>
        <label  for="">Address 2:</label>
        <input type="text" name="" id="address2">
        <br><br>
        <label for="">Bank Account : </label>
        <input type="tel" name="account" id="accnum">
        <br><br>
        <label for="">IFSC : </label>
        <input type="text" name="ifsc" id="ifsc"><br>
      <button id="btn">Reset</button>
            
        <!-- <input type="reset" value="Reset" id="btn"> -->
        <!-- <input type="button" value="Submit" id="btn1"> -->
        <button type="submit" id="btn1">Submit</button>
    </form>
</div>
