

<img src="https://static.vecteezy.com/system/resources/previews/004/941/847/large_2x/cosmetic-background-for-product-branding-and-packaging-presentation-geometry-form-circle-molding-on-podium-stage-with-shadow-of-leaf-background-design-eps10-vector.jpg" alt="">
<div class="employees" *ngIf="isVisible" >
    <form action="">
        <h2>Create Account</h2>
        <label id="name" for="">Name :</label>
        <input type="textarea" name="name" id="name1" >
        <br><br>
        <label id="name" for="">Email Id  :</label>
        <input type="textarea" name="name" id="email"  >
        <br><br>
        <label for=""> Password:</label>
        <input type="email" name="mail" id="name2" >
        <br><br>
        <label id="phone" for="">Phone Number : </label>
        <input type="tel" name="phone" id="phone">
        <br><br>
        <!-- <label id="gender" for="gender">Gender :</label>
        <input type="radio" name="male" id="male" value="male">
        <label for="male">Male</label>
        <label for="female"></label>
        <input type="radio" name="female" id="female" value="female">
        <label for="female">Female</label>
        <br><br> -->
        <!-- <label for="">Date of Birth : </label>
        <input type="date" name="" id="date">
        <br><br> -->
        <label  for="" item id="add" > Address :</label>
        <input type="textarea" name="" id="address"  >
        <br><br>
        <label for="">Bank Account : </label>
        <input type="tel" name="account" id="accnum">
        <br><br>
        <label for="">IFSC : </label>
        <input type="text" name="ifsc" id="ifsc"><br>
      <button id="btn">Reset</button>
            
        <!-- <input type="reset" value="Reset" id="btn"> -->
        <!-- <input type="button" value="Submit" id="btn1"> -->
        <button type="submit" id="btn1">Submit</button>
        <p>Already have an account ? <a href="" [routerLink]="['/login']" (click)="changeView()" >Login</a></p>
    </form>
</div>
