<section>
  <div class="tasks" *ngIf="isdesign" >  
        <div class="col-md-8 offset-md-3">
              <h3> Create_Testing_Work </h3>
              <form  [formGroup]="testingwork" (ngSubmit) = "onSubmit()">
              
                  <div class="form-group">
                      <label> Tasks</label>
                      <input type="text" class ="form-control" id = "work"
                      formControlName = "Work">
                  </div>    
                  <button class = "btn btn-success" type ="submit">Submit</button>
              
              </form>
              </div> 
        <button routerLink="/work-section" (click)="changeView()"  id="back" >Back</button>
  </div>
</section>

<!-- 
<div class="first" >



  <button routerLink="/create-all" (click)="changeView()"  id="creatework">Create Task</button>
  <button id="InProgress" routerLink="/test-drive" (click)="changeView()"  >InProgress</button>
  <button id="completed"  routerLink="/launch" (click)="changeView()" (click)="oncomplete()" >Completed</button>
  <button routerLink="/work-section" (click)="changeView()"  id="back" >Back</button>
  
  
  </div>
   -->
