
section{
    top: 0px;
    background-color: black;
    color: bisque;
    width: 100%;
    height: 630px;
    position: fixed;
}
#img1{
    width:100%;
    position: absolute;
}

.first{
    /* width: 100%; */
    margin-left: 280px;
    padding-top: 150px;
    position: absolute;
    letter-spacing: 1px;
    line-height: 30px;
    font-size:large;  
    font-family: cursive;
}

.second{
    margin-left: 850px;
    margin-top: 150px;
    position: absolute;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: large;
    font-family:cursive
}
p:hover{
    color: crimson;
    cursor: text;
    transition: all .5s ease;

}

#progress{
    margin-left: -300px;
    position: relative;
    border-radius: 3px;
    margin-top: 50px;
    background-color: black;
    color: white;
}
#progress:hover{
    color: white;
    background-color: crimson;
    cursor: pointer;
    transition: all .5s ease;

}

#completed{
    margin-left: 70px;
    border-radius: 3px;
    transition: all .5s ease;
    background-color: black;
    color: white;
}

#completed:hover{
    color: white;
    background-color: crimson;
    cursor: pointer;
}

#floating{
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 80px;
    position: absolute;
}

#floating:hover{
    color: crimson;
}